.container-forms {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 500px;
  flex-direction: column;
}

.form-group {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 200px;
  align-items: center;
}

button {
  border: none;
  outline: none;
  padding: 10px;
  border-radius: 7px;
}

input {
  border: none;
}

select {
    border: none;
    outline: none;
    width: 100%;
}