<div class="container">
  <div class="row">
    <form class="container-forms">
      <div class="form-group">
        <input placeholder="Nome do projeto" [ngStyle]="{ width: '100%' }" class="form-control" type="text" />
        <input placeholder="E-mail" [ngStyle]="{ width: '100%' }" class="form-control" type="text" />

        <div class="dropdown">
            <button>HubSpot Resources</button>
            <div class="dropdown-content">
              <a>Estável</a>
              <a>Crítico</a>
              <a>Finalizado</a>
            </div>
      </div>
      </div>
      <button type="submit">Enviar</button>
    </form>
  </div>
</div>
