<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" #refLocalForm="ngForm">
        <div id="user-data" ngModelGroup="userData">
          <div class="form-group">
            <label for="username">Nome de usuário</label>
            <input
              #refLocalUser="ngModel"
              required
              ngModel
              name="username"
              type="text"
              id="username"
              class="form-control"
            />
            <span *ngIf="!refLocalUser.valid && refLocalUser.touched"
              >Insira um nome por favor.</span
            >
          </div>
          <button (click)="suggestUserName()" class="btn btn-default" type="button">Sugerir nome</button>
          <div class="form-group">
            <label for="email">E-mail</label>
            <input
              required
              email
              ngModel
              #refLocalEmail="ngModel"
              name="email"
              type="email"
              id="email"
              class="form-control"
            />
            <span *ngIf="!refLocalEmail.valid && refLocalEmail.touched"
              >Insira um e-mil válido por favor, deve conter "@".</span
            >
          </div>
        </div>
        <div id="pad" class="form-group" ngModelGroup="userQuestion">
          <label for="secret">Pergunta secreta</label>
          <select [ngModelOptions]="{standalone: true}" [ngModel]="defaultQuestion" id="secret" class="form-control">
            <option  value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
          <div id="pad" class="form-group">
            <textarea
              class="form-control"
              [(ngModel)]="answer"
              name="questionAnswer"
              rows="10"
            ></textarea>

            <p>Resposta: {{ answer }}</p>
          </div>
        </div>
        <button class="btn btn-primary" type="submit">Enviar</button>
      </form>
    </div>
  </div>
</div>
